src/main/mule/logic/bcr-id-v1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
    <flow name="get:\v1\bcr\(id):eviden-niugis-sys-config">
        <logger level="INFO" message="START BCR ID" doc:name="START BCR ID" />
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
				<ee:set-variable variableName="format" ><![CDATA[attributes.queryParams.'f' as String default "json"]]></ee:set-variable>
            
</ee:variables>
        </ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="4b5156d2-e9da-478f-9900-667d5081ee06" path='${endpoint.bcr}/{id}' config-ref="HTTP_Request_configuration" responseTimeout="60000">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : attributes.uriParams.id
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"f" : vars.format
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="END BCR ID" doc:id="4d340dfc-a93c-4fb8-b99d-1d17f58fc789" message="END BCR ID" />
    
</flow>
	</mule>
