src/main/mule/logic/highways.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="highwaysFlow" doc:id="07346dad-d0e1-490c-96da-20bf6a5252d9" >
		<http:request method="GET" doc:name="Request" doc:id="83018bfb-4aba-4622-9cb4-77f0f75316b3" config-ref="HTTP_Request_configuration" path="/autoestradas_to_be/items" >
			<http:query-params ><![CDATA[#[output application/java
---
{
	"f" : "json"
}]]]></http:query-params>
		</http:request>
	</flow>
	<flow name="highways-idFlow" doc:id="93469578-34e7-4994-aa1e-a668552ba197" >
		<http:request method="GET" doc:name="Request" doc:id="c9d11bab-b9dd-41ef-9165-a9dc17a880fa" config-ref="HTTP_Request_configuration" path="/autoestradas_to_be/items/{id}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : attributes.uriParams.'id'
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"f" : "json"
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
