src/main/mule/logic/highways-id-v1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	    
    <flow name="get:\v1\highways\(id):eviden-niugis-sys-config">
        <logger level="INFO" message="START HIGHWAYS-ID" doc:name="START HIGHWAYS-ID" />
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.queryParams.'f' as String default "json"]]></ee:set-variable>
				<ee:set-variable variableName="format" ><![CDATA[attributes.queryParams.'f' as String default "json"]]></ee:set-variable>
            
</ee:variables>
        </ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="1c4c50c0-2910-4589-adb5-b4d17f0972a5" config-ref="HTTP_Request_configuration" path="${endpoint.highways}/{id}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : attributes.uriParams.id
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"f" : vars.format
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="END HIGHWAYS-ID" doc:id="e2a29a15-96c7-42c4-a93a-60dd48d693d8" message="END HIGHWAYS-ID" />
    
</flow>
	</mule>
