src/main/mule/logic/nodes-id-v1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
    <flow name="get:\v1\nodes\(id):eviden-niugis-sys-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="START NODES ID" doc:name="START NODES ID"/>
		<http:request method="GET" doc:name="Request" doc:id="c590b021-1f99-4684-9cbd-609db1822652" config-ref="HTTP_Request_configuration" path="${endpoint.nodes}/{id}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : attributes.uriParams.id
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"f" : attributes.queryParams.f
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="END NODES ID" doc:id="ab2e8163-95b5-46e7-bb86-c837e159cd4a" message="END NODES ID" />
    
</flow>
	</mule>
