src/main/mule/logic/nodes.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="nodesFlow" doc:id="09f0828b-cf26-49ef-8817-d9ef81c4d440" >
		<http:request method="GET" doc:name="Request" doc:id="7019deb1-0886-4a12-881a-fe762f796a0e" config-ref="HTTP_Request_configuration" path="/nos/items" >
			<http:query-params ><![CDATA[#[output application/java
---
{
	"f" : "json"
}]]]></http:query-params>
		</http:request>
	</flow>
	<flow name="nodes-idFlow" doc:id="0fc3f36e-2738-47da-8662-5bad0901a8a9" >
		<http:request method="GET" doc:name="Request" doc:id="b0945ab7-e95f-45c0-8a7d-d6f2a3b29988" config-ref="HTTP_Request_configuration" path="nos/items/{id}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : attributes.uriParams.'id'
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"f" : "json"
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
