src/main/mule/logic/processXml.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="processXmlFlow" doc:id="a1be3c65-0ee4-4926-b051-9ba189d40a92" >
		<set-variable value="2" doc:name="Set Variable level" doc:id="cff91c65-4367-49d8-bd75-0471d5e76709" variableName="level"/>
		<ee:transform doc:name="Transform Message" doc:id="13c8491f-dfed-47ce-8835-ca8737a12c1f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload.dataset.*record map ( record , indexOfRecord ) -> {
	id: record.id,
	name: record.name default "",
	description: record.description default "",
	direccion: record.direccion default "",
	sexo: record.sexo default "",
	CP: record.CP default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value='#[vars.fileName as String ++ ".csv"]' doc:name="Set Variable fileName" doc:id="81a181aa-81db-4eae-b016-7f60b8696f81" variableName="fileName" />
		<error-handler ref="propagate_global_error_handler_no_trace" />
	</flow>
</mule>
