src/main/mule/logic/services-id-v1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get:\v1\services\(id):eviden-niugis-sys-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="format" ><![CDATA[attributes.queryParams.'f' as String default "json"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="START SERVICES ID" doc:name="START SERVICES ID"/>
		<http:request method="GET" doc:name="Request" doc:id="0bef5bab-a502-48b6-be0c-c133ee232374" config-ref="HTTP_Request_configuration" path="${endpoint.services}/{id}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : attributes.uriParams.id
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"f" : vars.format
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="END SERVICES ID" doc:id="532b718d-a70d-43aa-b1f0-d23daf39acba" message="END SERVICES ID" />
    
</flow>
	</mule>
