src/main/mule/api-sys-main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="api-sys-mainFlow" doc:id="08f775df-ed0f-40c8-a2ef-5bc0ad2ad8d2" >
		<http:listener doc:name="Listener" doc:id="91a3a07a-d938-4f17-9c3e-1a15920b4bf0" config-ref="HTTP_Listener_config" path="/*"/>
		<file:write doc:name="Write" doc:id="e0edab09-3acf-4d04-9ac3-92e693425c80" path='#["C:/BRISAS/ouput/" ++ attributes.queryParams.file_name as String]' config-ref="File_Config"/>
	</flow>
</mule>
