src/main/mule/day3-drs.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="633a90b9-9796-4adf-b97f-9d2c8cb903ed" >
		<wsc:connection wsdlLocation="3-calculator.wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="day3-drsFlow" doc:id="343205d6-6e61-4928-88fb-98de01afa2e4" >
		<http:listener doc:name="Listener" doc:id="5a650a33-598c-4b9f-b26e-665faecbb5a2" config-ref="HTTP_Listener_config" path="/calculator"/>
		<set-variable value="#[attributes.headers.soapAction]" doc:name="Set Variable" doc:id="b666c596-148d-4660-8501-a686d9cc0760" variableName="soapaction"/>
		<choice doc:name="Choice" doc:id="fb51c405-669f-4164-a391-f815224e1422" >
			<when expression='#[endsWith(lower(vars.soapaction), "add\"")]'>
				<ee:transform doc:name="setAddValues" doc:id="d93a2f37-51d7-4359-b5a6-262a39350237">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: payload..intA[0] as Number,
		ns0#intB: payload..intB[0] as Number
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<wsc:consume doc:name="Add" doc:id="d0d5ea83-18bf-40b0-a84e-4e39599b42e0" config-ref="Web_Service_Consumer_Config" operation="Add"/>
				<ee:transform doc:name="formatAddResponse" doc:id="c7bcf70f-622a-416d-a809-2e1068eaf122" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://schemas.xmlsoap.org/soap/envelope/
ns ns01 http://tempuri.org/
---
{
	ns0#Envelope: {
		ns0#Body: {
			ns01#AddResponse: {
				ns01#AddResult: payload.body.ns01#AddResponse.ns01#AddResult default 0
			}
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[endsWith(vars.soapaction, "Divide\"")]'>
				<ee:transform doc:name="setDivideValues" doc:id="db3ed350-1ba1-46d1-b8c2-8e7f6042cf29">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Divide: {
		ns0#intA: payload..intA[0] as Number,
		ns0#intB: payload..intB[0] as Number
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<wsc:consume doc:name="Divide" doc:id="d0020776-f050-4b96-bec3-f02125088b61" config-ref="Web_Service_Consumer_Config" operation="Divide"/>
				<ee:transform doc:name="formatDivideResponse" doc:id="9090e91c-68e4-487e-bd76-5195cd7ac8d5" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://schemas.xmlsoap.org/soap/envelope/
ns ns01 http://tempuri.org/
---
{
	ns0#Envelope: {
		ns0#Body: {
			ns01#DivideResponse: {
				ns01#DivideResult: payload.body.ns01#DivideResponse.ns01#DivideResult default 0
			}
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[endsWith(vars.soapaction, "Multiply\"")]'>
				<ee:transform doc:name="setMultiplyValues" doc:id="f7560f73-c02c-4402-8eca-59a519a5554d">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Multiply: {
		ns0#intA: payload..intA[0] as Number,
		ns0#intB: payload..intB[0] as Number
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<wsc:consume doc:name="Multiply" doc:id="a93a88d3-55c6-4f0d-bf1a-5be06a1e8e2f" config-ref="Web_Service_Consumer_Config" operation="Multiply"/>
				<ee:transform doc:name="formatMultiplyResponse" doc:id="f222658e-1a7a-41ed-8151-542e70968669" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://schemas.xmlsoap.org/soap/envelope/
ns ns01 http://tempuri.org/
---
{
	ns0#Envelope: {
		ns0#Body: {
			ns01#MultiplyResponse: {
				ns01#MultiplyResult: payload.body.ns01#MultiplyResponse.ns01#MultiplyResult default 0
			}
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="setSubstractValues" doc:id="6ca9ab27-90d5-4d0c-ba1f-efc8bdc834b7">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Subtract: {
		ns0#intA: payload..intA[0] as Number,
		ns0#intB: payload..intB[0] as Number
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<wsc:consume doc:name="Substract" doc:id="5e10ce2f-8c83-4e1e-8a5a-d47c92995425" config-ref="Web_Service_Consumer_Config" operation="Subtract"/>
				<ee:transform doc:name="formatSubstractResponse" doc:id="b50519f0-23bd-46c4-a7cb-90d640ecf030" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://schemas.xmlsoap.org/soap/envelope/
ns ns01 http://tempuri.org/
---
{
	ns0#Envelope: {
		ns0#Body: {
			ns01#SubtractResponse: {
				ns01#SubtractResult: payload.body.ns01#SubtractResponse.ns01#SubtractResult default 0
			}
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="63654de9-45a6-4cd8-a5aa-c96ca84a7a41" />
	</flow>
</mule>
