src/main/mule/eviden-niugis-sys.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd">
    <flow name="eviden-niugis-sys-main">
        <http:listener config-ref="httpListenerConfig" path="/*" allowedMethods="GET">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="c0498313-fdf7-4730-b31c-979ca707b2e1" name="utilFlow"/>
		<http:basic-security-filter doc:name="Basic security filter" doc:id="3605eedb-8209-46cf-89dc-5e11f9d17f56" realm="mule" />
        <spring:authorization-filter doc:name="Authorization filter" doc:id="05ae0219-66d7-49b6-ac8c-70cdc72b73ec" requiredAuthorities="ROLE_ADMIN" />
        <apikit:router config-ref="eviden-niugis-sys-config" />
    </flow>
    <flow name="eviden-niugis-sys-console">
        <http:listener config-ref="httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="eviden-niugis-sys-config" />
    </flow>
    <flow name="get:\v1\bcr:eviden-niugis-sys-config">
		<logger level="INFO" message="get:\v1\bcr:eviden-niugis-sys-config" />
		<flow-ref doc:name="Flow Reference" doc:id="e103ce6b-922d-4ce9-b437-2c646d26f12e" name="bcrFlow" />
    </flow>
    <flow name="get:\v1\health:eviden-niugis-sys-config">
        <logger level="INFO" doc:name="Logger" doc:id="16a7a6ab-ad9d-4f8a-bffe-f171a6ed155b" message="get:\v1\health:eviden-niugis-sys-config" />
		<flow-ref doc:name="Flow Reference" doc:id="598081e1-4735-4068-9cb6-126b11fff3ae" name="healthFlow" />
    </flow>
    <flow name="get:\v1\highways:eviden-niugis-sys-config">
        <logger level="INFO" doc:name="Logger" doc:id="f6c1f2fd-90f9-41cf-ba42-aad94bafa4c8" message="get:\v1\health:eviden-niugis-sys-config" />
		<flow-ref doc:name="Flow Reference" doc:id="4edf1a54-fc62-45cb-9020-64b2fb741ad4" name="highwaysFlow" />
    </flow>
    <flow name="get:\v1\nodes\modeling:eviden-niugis-sys-config">
        <logger level="INFO" message="get:\v1\nodes\modeling:eviden-niugis-sys-config" />
        <flow-ref doc:name="Flow Reference" doc:id="f305e86f-dafa-40f0-9996-2f4e22cc5ad9" name="nodes-modelingFlow" />
    </flow>
    <flow name="get:\v1\nodes:eviden-niugis-sys-config" doc:id="220ed451-aff2-46e4-a540-308bd5d3035a">
        <logger level="INFO" message="get:\v1\nodes:eviden-niugis-sys-config" />
        <flow-ref doc:name="Flow Reference" doc:id="9fde2399-2af9-4eed-8b05-1f59d2c182a4" name="nodesFlow" />
    </flow>
    <flow name="get:\v1\services:eviden-niugis-sys-config">
        <logger level="INFO" message="get:\v1\services:eviden-niugis-sys-config" />
        <flow-ref doc:name="Flow Reference" doc:id="f05352d9-d519-4167-9096-164e6e3b71e7" name="servicesFlow" />
    </flow>
    <flow name="get:\v1\tolls:eviden-niugis-sys-config">
        <logger level="INFO" doc:name="Logger" doc:id="d96ccea8-37f5-476c-8f05-c03d6adeb65e" message="get:\v1\services:eviden-niugis-sys-config" />
		<flow-ref doc:name="Flow Reference" doc:id="187b0802-d758-4bc6-8cf4-ca68dcc454f0" name="tollsFlow" />
    </flow>
    <flow name="get:\v1\underlines:eviden-niugis-sys-config">
        <logger level="INFO" message="get:\v1\underlines:eviden-niugis-sys-config" />
        <flow-ref doc:name="Flow Reference" doc:id="b5572243-83d8-486d-a135-d8d0c1e0f159" name="underlinesFlow" />
    </flow>
    <flow name="get:\v1\underlines\(id):eviden-niugis-sys-config">
        <logger level="INFO" doc:name="Logger" doc:id="74151b2e-5bb8-4a04-b8cc-fb1b10185177" message="get:\v1\underlines\(id):eviden-niugis-sys-config" />
		<flow-ref doc:name="Flow Reference" doc:id="3760f5a1-9163-494d-bfec-d52946ee5e13" name="underlines-idFlow" />
    </flow>
    <flow name="get:\v1\bcr\(id):eviden-niugis-sys-config">
        <logger level="INFO" doc:name="Logger" doc:id="da1f72f3-f45c-4080-a020-fcac1326a4d3" message="get:\v1\bcr\(id):eviden-niugis-sys-config" />
		<flow-ref doc:name="Flow Reference" doc:id="2667d8c0-d645-4735-8405-da7781d311a3" name="bcr-idFlow" />
    </flow>
    <flow name="get:\v1\tolls\(id):eviden-niugis-sys-config">
        <logger level="INFO" doc:name="Logger" doc:id="e15c27b9-88b4-44b8-aace-624702d9d5bd" message="get:\v1\tolls\(id):eviden-niugis-sys-config" />
		<flow-ref doc:name="Flow Reference" doc:id="0b9a856f-9bd3-465b-9fc8-b3346a1c45b4" name="tolls-idFlow" />
    </flow>
    <flow name="get:\v1\highways\(id):eviden-niugis-sys-config">
        <logger level="INFO" doc:name="Logger" doc:id="fb41e9ac-d8e7-494e-a155-abd8975c6d44" message="get:\v1\highways\(id):eviden-niugis-sys-config" />
		<flow-ref doc:name="Flow Reference" doc:id="d0459602-4ad6-4339-8864-7d5288287223" name="highways-idFlow" />
    </flow>
    <flow name="get:\v1\nodes\(id):eviden-niugis-sys-config">
        <logger level="INFO" doc:name="Logger" doc:id="b05d42c8-e069-48e3-8b24-4516b2685bea" message="get:\v1\nodes\(id):eviden-niugis-sys-config" />
		<flow-ref doc:name="Flow Reference" doc:id="2e33d184-c91d-451d-be1b-5cc52dcdfdd9" name="nodes-idFlow" />
    </flow>
    <flow name="get:\v1\services\(id):eviden-niugis-sys-config">
        <logger level="INFO" doc:name="Logger" doc:id="f3475e25-68dd-4ba7-a004-ead0109eddda" message="get:\v1\services\(id):eviden-niugis-sys-config" />
		<flow-ref doc:name="Flow Reference" doc:id="0518f9fa-d41b-4db2-bd30-8376ece351c3" name="services-idFlow" />
    </flow>
    <flow name="get:\v1\nodes\modeling\(id):eviden-niugis-sys-config">
        <logger level="INFO" message="get:\v1\nodes\modeling\(id):eviden-niugis-sys-config" />
		<flow-ref doc:name="Flow Reference" doc:id="f62dc455-dc61-4873-bd2d-825bcf8cd68d" name="nodes-modeling-idFlow"/>
    </flow>
</mule>
